* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  font-size: 16px;
  font-family: "montserrat", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-white);
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
}

.title-section {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 430px) {
  .title-section {
    font-size: 1.6rem;
  }
}
@media (max-width: 325px) {
  .title-section {
    font-size: 1.4rem;
  }
}
:root {
  --color-primary: #FFD600;
  --color-primary_light: #ffde3a;
  --color-primary_dark: #424308;
  --color-bg: #000417;
  --color-bg_light: #002776;
  --color-bg_dark: #01051F;
  --color-bg_boxService: rgba(155, 148, 255, 0.08);
  --color-gray: #808080;
  --color-gray_dark: #3A3A3A;
  --color-gray_light: #DFDFDF;
  --color-gray_border: rgba(162, 162, 162, 0.311);
  --color-lightGray_border: rgba(162, 162, 162, 0.674);
  --color-white: #ffffff;
  --shadow-primary: 2px 3px 6px #ffd50041;
  --shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.374);
  --shadow-dark_light: 0 2px 4px rgba(0, 0, 0, 0.126);
  --border-line: 1px solid var(--color-primary);
  --border-line_dark: 1px solid var(--color-primary_dark);
  --border-box: 1px solid var(--color-gray_border);
  --borderRadius: 4px;
}

.link-btn {
  display: flex;
  margin-top: 4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
}

.btn-primary {
  background-color: var(--color-primary);
  color: black;
  padding: 0.8rem 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: var(--shadow-primary);
  border: 0;
  transition: all 0.3s;
  width: 18rem;
  max-width: 100%;
}
.btn-primary:hover {
  background-color: var(--color-primary_light);
  box-shadow: none;
}

.btn-send {
  background-color: transparent;
  border: 1.5px solid var(--color-primary);
  color: var(--color-white);
  padding: 0.8rem 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-send:hover {
  background-color: rgba(255, 213, 0, 0.1019607843);
  box-shadow: none;
}

.btn-close {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 2rem;
}
.btn-close:hover {
  color: rgba(255, 255, 255, 0.747);
}

.modal-video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 19, 0.895);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  text-align: center;
  display: none;
}
.modal-video header {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}
.modal-video .modal-videoContent {
  border-radius: 4px;
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0 0.8rem;
}
.modal-video .modal-videoContent iframe {
  width: 100%;
}

.main {
  background-image: url("../../images/webp/bg-main_1.webp");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
}
.main .content {
  width: 70%;
  margin-left: 4rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main .content .content-title {
  font-size: 4rem;
}
.main .content .cathphrase {
  font-size: 2.5rem;
  font-family: "Dancing Script", sans-serif;
  font-weight: bold;
}
.main .main-img {
  position: absolute;
  width: 38%;
  bottom: 0;
  right: 0;
}

@media (max-width: 850px) {
  .main {
    height: auto;
  }
  .main .content {
    flex-direction: column;
    margin-left: 0;
    width: 100%;
  }
  .main .content .infos {
    padding: 0 1rem;
  }
  .main .main-img {
    position: initial;
    width: 50%;
    margin-left: auto;
    margin-top: 2rem;
  }
}
@media (max-width: 430px) {
  .main .content {
    text-align: center;
    margin-top: 2rem;
  }
  .main .content .content-title {
    font-size: 2rem;
  }
  .main .content .cathphrase {
    font-size: 1.5rem;
  }
  .main .content .infos .link-btn {
    margin: 3rem auto;
  }
  .main .main-img {
    width: 80%;
  }
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  z-index: 100;
  transition: all ease-in-out 0.2s;
}
.header .menu-list {
  display: flex;
  list-style: none;
  gap: 1rem;
}
.header .menu-list .menu-item {
  font-weight: 500;
  transition: all 0.3s;
}
.header .menu-list .menu-item:hover {
  color: var(--color-primary);
}

@media (max-width: 430px) {
  .header {
    padding: 1rem 2rem;
  }
  .header .header-logo {
    width: 7rem;
  }
  .header .menu-list {
    display: none;
  }
}
.welcome {
  min-height: 100vh;
  height: auto;
  text-align: center;
  position: relative;
  padding: 4rem 1rem;
  background-image: url("../../images/webp/statue-advocacy.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.welcome .title-section {
  text-transform: uppercase;
}
.welcome iframe {
  margin-top: 3rem;
  border-radius: 0.4rem;
  max-width: 100%;
}

.service-item {
  background-color: var(--color-bg_boxService);
  padding: 2rem 1rem;
  width: 100%;
  height: 100%;
  border: var(--border-box);
  border-radius: 2px;
  transition: all 0.2s;
}
.service-item h4 {
  font-weight: 400;
  font-size: 1.2rem;
}
.service-item i {
  font-size: 2.5rem;
  color: var(--color-primary);
  margin-bottom: 1rem;
}
.service-item:hover {
  border: 1px solid var(--color-lightGray_border);
}

@media (max-width: 430px) {
  .service-item {
    padding: 2rem 0.4rem;
  }
  .service-item h4 {
    font-size: 1rem;
  }
}
.services {
  text-align: center;
  min-height: 100vh;
  height: auto;
  padding: 4rem 0;
}
.services .service-list {
  display: grid;
  grid-template-columns: repeat(4, 15rem);
  place-content: center;
  margin-top: 4rem;
  gap: 1rem;
  padding: 0 1rem;
}

@media (max-width: 850px) {
  .services .service-list {
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}
.link-btn {
  display: flex;
  margin-top: 4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
}

.btn-primary {
  background-color: var(--color-primary);
  color: black;
  padding: 0.8rem 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: var(--shadow-primary);
  border: 0;
  transition: all 0.3s;
  width: 18rem;
  max-width: 100%;
}
.btn-primary:hover {
  background-color: var(--color-primary_light);
  box-shadow: none;
}

.btn-send {
  background-color: transparent;
  border: 1.5px solid var(--color-primary);
  color: var(--color-white);
  padding: 0.8rem 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-send:hover {
  background-color: rgba(255, 213, 0, 0.1019607843);
  box-shadow: none;
}

.btn-close {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 2rem;
}
.btn-close:hover {
  color: rgba(255, 255, 255, 0.747);
}

.banner-baby {
  display: flex;
  background: linear-gradient(101.4deg, #000C1C 57.04%, #424308 113.15%);
  position: relative;
  min-height: 60vh;
  height: auto;
  padding: 2rem 4rem;
}
.banner-baby .content {
  width: 50%;
}
.banner-baby .content .banner-baby_title {
  text-align: left;
}
.banner-baby .content .img-bannerBaby {
  position: absolute;
  right: 2rem;
  bottom: 0;
  max-width: 100%;
}

@media (max-width: 430px) {
  .banner-baby {
    padding: 0 2rem;
    padding-top: 2rem;
  }
  .banner-baby .content {
    width: 100%;
    flex-direction: column;
  }
  .banner-baby .content .banner-baby_title {
    text-align: center;
  }
  .banner-baby .content .img-bannerBaby {
    position: initial;
  }
}
.testimunials {
  min-height: 100vh;
  height: auto;
  width: 100%;
  padding: 4rem 0;
}
.testimunials .testimunials-videos {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 6rem;
}
.testimunials .testimunials-videos figure {
  text-align: center;
  position: relative;
}
.testimunials .testimunials-videos figure img {
  filter: brightness(40%);
  border-radius: 4px;
}
.testimunials .testimunials-videos figure .play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  cursor: pointer;
  transition: 0.2s all;
  color: rgba(255, 255, 255, 0.313);
}
.testimunials .testimunials-videos figure .play-btn:hover {
  color: white;
}
.testimunials .testimunials-videos figure figcaption {
  font-weight: 600;
  font-size: 1rem;
  margin-top: 0.5rem;
}

@media (max-width: 850px) {
  .testimunials .testimunials-videos {
    flex-direction: column;
  }
}
.contact {
  display: flex;
  justify-content: center;
  padding: 4rem 2rem;
  min-height: 100vh;
  background-image: url("../../images/webp/bg-advocacy_form.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
}
.contact .content {
  width: 50%;
}
.contact .content .title-section {
  text-align: left;
}
.contact form {
  display: flex;
  gap: 1.8rem;
  flex-direction: column;
  padding: 3rem 2rem;
  width: 30rem;
  max-width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.11);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: var(--borderRadius);
}
.contact form .input-field {
  display: flex;
  flex-direction: column;
  position: relative;
}
.contact form .input-field label {
  position: absolute;
  top: 5px;
  color: rgba(0, 0, 0, 0.438);
  pointer-events: none;
  margin: 5px;
  margin-left: 0.5rem;
  font-weight: 600;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-out;
}
.contact form .input-field input, .contact form .input-field textarea {
  padding: 0.7rem;
  font-weight: 600;
  font-size: 1rem;
  font-family: "montserrat";
  width: 100%;
  border-radius: 4px;
  border: 0;
  outline: none;
}
.contact form .input-field input::-moz-placeholder, .contact form .input-field textarea::-moz-placeholder {
  color: black;
}
.contact form .input-field input:-ms-input-placeholder, .contact form .input-field textarea:-ms-input-placeholder {
  color: black;
}
.contact form .input-field input::placeholder, .contact form .input-field textarea::placeholder {
  color: black;
}
.contact form .input-field input:focus + label, .contact form .input-field textarea:focus + label {
  top: -1.7rem;
  color: white;
}
.contact form .input-field input:not(:-moz-placeholder-shown) + label, .contact form .input-field textarea:not(:-moz-placeholder-shown) + label {
  top: -1.7rem;
  color: white;
}
.contact form .input-field input:not(:-ms-input-placeholder) + label, .contact form .input-field textarea:not(:-ms-input-placeholder) + label {
  top: -1.7rem;
  color: white;
}
.contact form .input-field input:not(:placeholder-shown) + label, .contact form .input-field textarea:not(:placeholder-shown) + label {
  top: -1.7rem;
  color: white;
}
.contact form .input-field textarea {
  height: 150px;
  resize: none;
}

@media (max-width: 850px) {
  .contact {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .contact .content {
    width: 100%;
    text-align: center;
  }
  .contact .content .title-section {
    text-align: center;
  }
}
@media (max-width: 850px) {
  .contact {
    padding: 4rem 0.5rem;
  }
}
.footer {
  padding: 2rem 4rem 1rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: auto;
}
.footer .content-footer {
  display: flex;
  gap: 4rem;
}
.footer .content-footer .content-item ul {
  list-style: none;
}
.footer .bottom-content {
  text-align: center;
  font-size: small;
}

@media (max-width: 430px) {
  .footer {
    padding: 2rem 1rem;
  }
}/*# sourceMappingURL=main.css.map */