
.footer{
    padding: 2rem 4rem 1rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: auto;

    .content-footer{
        display: flex;
        gap: 4rem;

        .content-item{
            ul{
                list-style: none;
            }
        }
    }
    .bottom-content{
        text-align: center;
        font-size: small;
    }
}

@media (max-width:430px) {
    .footer{
        padding: 2rem 1rem;
    }
}