@import '../components/serviceItem';

.services{
    text-align: center;
    min-height: 100vh;
    height: auto;
    padding: 4rem 0;

    .service-list{
        display: grid;
        grid-template-columns: repeat(4, 15rem);
        place-content: center;
        margin-top: 4rem;
        gap: 1rem;
        padding: 0 1rem;
    }
}

@media (max-width:850px) {
    .services{
        .service-list{
            grid-template-columns: 1fr 1fr;
            place-items: center;
        }
    }
}